<footer class="site-footer">
  <nav class="nav nav-inline">
   <a class="nav-link active" href="#">Home</a>
   <a class="nav-link" href="#">Things Worth Believing</a>
   <a class="nav-link" href="#">Things Worth Seeing</a>
   <a class="nav-link" href="#">Things Worth Doing</a>
   <a class="nav-link" href="#">About</a>
   <a class="nav-link" href="#">Contact Me</a>
  </nav>
<!-- 
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>


      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div> -->

</footer>
